backend/.env
backend/.env.*
backend/.env.example
my-dashboard/.env
my-dashboard/.env.* 
my-dashboard/.env.example
my-dashboard/.env.production

*.sqlite
*.sqlite3

backend/venv/
backend/__pycache__/
backend/uploads/

my-dashboard/node_modules/
my-dashboard/dist/

